body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    margin: 50px;
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.header-container h3 {
    font-weight: 700;
}

.header-container h5 {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.header-container .para {
    width: 300px;
}

.main-container {
    display: flex;
    gap: 50px;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}

.image-box .photo {
    width: 200px;
    margin-bottom: 70px;
}

.image-box p {
    font-size: 15px;
    font-weight: 700;
    margin: auto;
}

.main-boxes .image-box {
    width: 150px;
}

.main-sec {
    margin-top: 60px;
}


@media (max-width: 576px){
    .header-container {
        flex-direction: column;
    }

    .main-container {
        padding: 6px;
        flex-direction: column;
    }

    .image-box .photo {
        width: 25em;
    }

    .image-box p {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
}